<%= form_for(@post, :remote => true, :html => {:class => 'new-post'}) do |f| %>
   	<div class="control-group">
   		<%= f.text_area :body, :rows => 2, :class => 'span6 no-margin', :placeholder => 'What are you thinking now?' %>
   	</div>
    <div class="control-group">
    	<%= f.submit 'Post update', :class => 'btn btn-primary' %>
    </div>
<% end %>
